<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  <servlet-name>Anurag1</servlet-name>
  <servlet-class>p1.ValidAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Anurag1</servlet-name>
  <url-pattern>/First</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Anurag2</servlet-name>
  <servlet-class>p1.StdRegister</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Anurag2</servlet-name>
  <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Anurag3</servlet-name>
  <servlet-class>p1.StdUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Anurag3</servlet-name>
  <url-pattern>/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Anurag4</servlet-name>
  <servlet-class>p1.StdDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Anurag4</servlet-name>
  <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Anurag5</servlet-name>
  <servlet-class>p1.StdResult</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Anurag5</servlet-name>
  <url-pattern>/result</url-pattern>
  </servlet-mapping>
  
</web-app>